* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: $font-family-sans;
  font-size: $m;
  line-height: $lh-default;
  font-weight: $fw-normal;
  hyphens: auto;
  color: $text-color;
}

main {
  padding-bottom: $xxl;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: $l;
}

h1,
h2,
h3,
h4 {
  line-height: $lh-tight;
  font-weight: $fw-bold;
  color: $headline-color;
}

h1 {
  font-size: $xxl;
}

h2 {
  font-size: $xl;
}

h3 {
  font-size: $l;
}

h4 {
  font-size: $m;
}

section {
  margin-bottom: $l;
}

a.link-clear {
  text-decoration: none;
  color: $dark;

  &:hover {
    color: $dark;
  }
}

a {
  color: $dark-blue;
  text-decoration: none;

  &:hover {
    color: $headline-color;
  }
}

.no-margin {
  margin-bottom: 0;
}
