.head {
  display: flex;
  justify-content: space-between;
  padding: $m;
  background: $darken;
  color: $lightest;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);

  &__logo {
    margin-bottom: 0;
    color: $lightest;
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-item:not(:last-of-type) {
    margin-right: $m;
  }

  &__nav-link {
    color: $lightest;
  }
}

.hero {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__caption {
    position: absolute;
    text-align: center;
  }

  &__headline {
    color: $lightest;
  }
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: $xxl $m 0;

  &__hero {
    max-height: 40vh;
    display: flex;
    margin-bottom: $m;

    &__image {
      max-height: 100%;
      object-fit: contain;
      object-position: left;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
    }
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $m;

  &__hero {
    box-shadow: $shadow;
    transition: $tr-shadow;
    margin-bottom: $l;
    display: flex;

    &:hover {
      box-shadow: $shadow-hover;
    }
  }
}

.feature-list {
  list-style: disc;
  padding-left: $m;

  &__item:not(:last-of-type) {
    margin-bottom: $s;
  }
}
