.head {
  display: flex;
  justify-content: space-between;
  padding: $m;
  background: $darken;
  color: $lightest;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 1;

  &__logo {
    margin-bottom: 0;
    color: $lightest;
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-item:not(:last-of-type) {
    margin-right: $m;
  }

  &__nav-link {
    color: $lightest;
  }
}

.hero {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__caption {
    position: absolute;
    text-align: center;
  }

  &__headline {
    color: $lightest;
  }
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: $xxl $m 0;

  &__hero {
    max-height: 40vh;
    display: flex;
    margin-bottom: $m;

    &__image {
      max-height: 100%;
      object-fit: contain;
      object-position: left;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
    }
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $m;

  &__hero {
    box-shadow: $shadow;
    transition: $tr-shadow;
    margin-bottom: $l;
    display: flex;

    &:hover {
      box-shadow: $shadow-hover;
    }
  }
}

.feature-list {
  list-style: disc;
  padding-left: $m;

  &__item:not(:last-of-type) {
    margin-bottom: $s;
  }
}

.software-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $m;
  margin-bottom: $xl;
}

.hardware-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $m;
}

.card {
  box-shadow: $shadow;
  //border: 1px solid $lighter;
  border-radius: 4px;
  transition: $tr-shadow;
  overflow: hidden;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &__header {
    background: $lighter;
    text-align: center;
    padding: $l 0;

    &--img {
      padding: $l $l;
    }
  }

  &__headline {
    margin-bottom: 0;
    color: $dark;
  }

  &__content {
    padding: $m;
  }
}

.doc-list {
  list-style: decimal;
  margin-bottom: $l;

  &__highlight {
    background: $light;
    padding: $xs;
    border-radius: 4px;
  }

  li {
    margin-bottom: $xl;
  }
}

.terminal {
  background: $darker;
  color: $lightest;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: $m;

  &__header {
    background: $lighter;
    color: $dark;
    padding: $s $m;
  }

  &__input {
    padding: $m;
  }

  &__line {
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: $m;
    }
    &:before {
      content: '> ';
      color: $blue;
    }
  }

  &__file {
    margin: 0;
  }
}

footer {
  color: $lightest;
  background: $blue;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: $s $m;

  & a {
    color: $dark-blue;
  }

  &__headline {
    color: $lightest;
    margin-top: $s;
    margin-bottom: $xs;
  }
}
